#features{
    background-color: #f8f9fa;
}

#icon{
    font-size: 45px !important;
    color: rgb(0, 153, 255) !important;

}

#react-view{
    background-color: #151b3b;
}

a{
    text-decoration: none;
}